.add-favorites-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.message-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 1.2em;
    color: #ff0000;
}

.continue-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
}

.continue-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.continue-button:not(:disabled):hover {
    background-color: #0056b3;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}