.notifications {
    position: relative;
}

.notifications span {
    padding: 0;
}

.notifications-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem !important;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 1em;
}

.notifications-button.unread {
    background-color: #ff0000; /* Red color for unread notifications */
}

.notifications-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.notification-item {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: #007bff;
}

.notification-item:hover {
    background-color: #f0f0f0;
    text-decoration: underline;
}

.mark-all-read-link {
    width: 100%;
    background-color: white;
    color: #007bff;
    border: none !important;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.mark-all-read-link:hover {
    background-color: white;
    text-decoration: underline;
}

.fas {
    margin-right: 0.5rem;
}